# ignore node_modules, let others use npm install
node_modules/
# ignore idea folder, others may not use intellj idea as IDE
.idea
# ignore iml files, others may not use intellj idea as IDE
*.iml
# ignore OSX storage files, others may not have a MBP (I'm COOL, hell yeah!)
.DS_Store
