extends layout

block content
  div.site-wrapper
    div.site-wrapper-inner
      div.cover-container
        div(class='masthead clearfix')
          div.inner
            h3.masthead-brand cover
            nav
              ul(class='nav masthead-nav')
                li.active
                  a(href='#') Home
                li
                  a(href='#') Features
                li
                  a(href='#') Contact

      div(class='inner cover')
        h1(class='cover-heading') Cover your page
        p.lead Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own
        p.lead
        a(href='#' class='btn btn-lg btn-default') Learn more
        div.mastfoot
          div.inner
            p Cover template
