 <div class="inner cover">
    <h4 class="cover-heading">你是否总是感到疲倦?</h4>
    <p class="lead">
        <ul>
            <li>A. 是的</li>
            <li>B. 不一定</li>
            <li>C. 不是</li>
        </ul>
    </p>
</div>
