 <div class="inner cover">
    <h2 class="cover-heading">测试完成</h2>
     <hr>
    <p class="lead">请耐心等待测试结果</p>
     <p>{{lang}}</p>
     <p>{{foo}}</p>
     <hr>
     <button class="btn-default btn-lg"><a href="/subject/info">开始新测试</a></button>
</div>
